.btn-start {
  border-bottom: 4px solid $color-f2;
  color: $font-color-silver;
  font-size: 14px;
  line-height: 22px;
  padding: 9px 10px;
  text-align: center;
  text-transform: uppercase;

  &.active {
    color: $color-33;
    border-color: $u-orange;
    font-weight: 700;
  }
}