.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  text-transform: uppercase;
  color: $color-33;
  font-weight: 700;
  font-size: 1.125em;
  border-radius: 3px;

  &--yellow {
    border: 1px solid $u-orange;
    background-color: $u-orange;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $color-33;
    color: $color-33;
  }

  &--red {
    border-color: $font-color-red;
    color: $font-color-red;
  }

  &--muted {
    background-color: transparent;
    border: 1px solid $color-f5;
    color: $color-33;
  }

  &--vk {
    border: 1px solid $silver-big;

    svg {
      margin-top: 2px;
    }
  }

  &--pink {
    background-color: $u-pink;
    border: 0;
  }

  &--auto {
    width: auto;
    padding-left: 1.1em;
    padding-right: 1.1em;
  }
  &--auto-2 {
    width: auto;
    padding-left: 2.3em;
    padding-right: 2.3em;
  }

  &--sm {
    min-height: 30px;

    &.btn--auto {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  svg {
    &:first-child:not(:last-child) {
      margin-right: 8px;
    }
    &:last-child:not(:first-child) {
      margin-left: 8px;
    }
  }

  span {
    margin-top: 2px;
  }

  &--notification {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $font-color-red;
    }
  }
}

.large-buttons {
  width: 287px;
  margin: 0 auto;
}

@media screen and (max-width: 359px) {
  .large-buttons {
    width: 100%;
  }
}