.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  text-transform: uppercase;
  color: $color-33;
  font-weight: 700;
  font-size: 1.125em;
  border-radius: 3px;

  &--yellow {
    border: 1px solid $u-orange;
    background-color: $u-orange;
  }

  &--outline {
    border: 1px solid $color-33;
    color: $color-33;
  }

  &--vk {
    border: 1px solid $silver-big;

    svg {
      margin-top: 2px;
    }
  }

  &--auto {
    width: auto;
    padding-left: 1.1em;
    padding-right: 1.1em;
  }

  &--sm {
    min-height: 30px;

    &.btn--auto {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  svg {
    &:first-child {
      margin-right: 8px;
    }
    &:last-child {
      margin-left: 8px;
    }
  }

  span {
    margin-top: 2px;
  }
}