.create-new-order {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $u-pink;
  padding: 17px 20px;


  .title {
    padding-right: 10px;
  }
}