.icon-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 3px;
  background-color: $color-f5;
  text-align: center;

  svg {
    vertical-align: middle;
  }
}