.create-account-page {
  padding-top: 50px;
  padding-bottom: 20px;
}
.form-copyright {
  margin-top: 15px;
  color: $font-color-silver;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.reset-password-page {
  padding-top: 48px;
}