.sign-in-page {
  padding: 50px 0 30px;

  @media screen and (max-width: 374.5px) {
    padding: 30px 0;
  }
}

.sign-in-form {
  padding-top: 32px;
}

.welcome-img {
  text-align: center;

  svg {
    max-width: 100%;
  }
}

.start-buttons {
  display: flex;
  padding: 0 10px;

  .btn-start:first-child {
    flex-basis: 40%;
  }
  .btn-start:last-child {
    flex-basis: 60%;
  }
}