.add-photo {
  display: block;
  margin-bottom: 22px;

  &__content {
    display: flex;
    align-items: center;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-right: 11px;
    border-radius: 50%;
    border: 1px solid $silver-big;
    background-color: $color-f5;
  }
}