.cost-calculation {
  background-color: $silver-normal;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;

  &__item {
    flex-basis: calc(50% - 5px);

    .bank__percent {
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
  }
}