.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px;
    background-color: $silver-normal;
    border-radius: 10px 10px 0 0;
    z-index: 2;
  }
  &__item {
    padding: 0 7px;

    @media screen and (max-width: 380px) {
      padding: 0 5px;
    }
    @media screen and (max-width: 361px) {
      padding: 0 4px;
    }
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125em;
    height: 3.125em;
    border-radius: 3px;
    background-color: #fff;

    svg {
      max-width: 70%;
    }

    &.identifier::after {
      width: 7px;
      height: 7px;
      top: 4px;
      right: 5px;
    }
  }
}

.menu-padding {
  padding-bottom: 80px;
}
.to-pay-padding {
  padding-bottom: 165px;
}
.new-order-padding {
  padding-bottom: 190px;
}