.order-slider {
  margin-bottom: 20px;

  &__item {

  }
  &__content {

  }
  &__nav {
    display: flex;
    justify-content: space-between;

    & > * {
      flex-basis: 31%;
    }
  }
  &__link {
    display: block;
    text-align: center;
    padding: 4px;
    color: $font-color-silver;
    border: 0;
    background: none;
    border-bottom: 2px solid $silver-big;
    outline: none;

    &.active {
      border-color: $color-blue;
      color: $color-blue;
    }
  }
  &__tab {
    display: none;
    padding-top: 10px;

    &.active {
      display: block;
    }
    .reset-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      padding-bottom: 15px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;

        &.border-bottom {
          min-height: 50px;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
      .input--select {
        width: 160px;

        @media screen and (max-width: 377px) {
          width: 130px;
        }
      }
    }
  }

  .delivery__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    padding: 20px 0 2px;

    .btn--muted:not(.btn--outline) {
      font-weight: 300;
      border-color: $font-color-silver;
      & * {
        margin-top: 0;
        opacity: .45;
      }
    }
  }
}

.order-slider .delivery .reset-list li:not(:last-child) {
  margin-bottom: 0;
}

.slider-nav {
  display: flex;
  justify-content: space-between;

  &__item {
    height: 2px;
    background-color: $color-f5;

    &.active {
      background-color: $font-color-silver;
    }
  }
}

.even-style {
  li {
    margin-bottom: 0!important;
    padding: 5px 9px 6px;
  }
  li:nth-child(even) {
    background-color: $silver-normal;
  }
}

.product-count {
  width: 2.857em;
  height: 2.142em;
  border-radius: 3px;
  text-align: center;
  font-size: .875em;
  line-height: 2.142em;
  color: $font-color-silver;
  border: 1px solid $silver-big;

  &.active {
    border-color: $color-blue;
    color: #333;
  }
}

.top-scroll-content {
  position: relative;
  height: 30px;
  margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: rgba(255,255,255,.9);
}

.order-scroll-layout {
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 12px;
  padding-right: 12px;
  height: 200px;
  overflow: auto;
}
.order-scroll-content {
  position: relative;
  margin-left: -6px;
  margin-right: -6px;

  .reset-list > li {
    padding-left: 6px;
    padding-right: 6px;
  }
}