.shipping-address {

  &__link {
    position: relative;
    background-color: $u-orange;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1.25em 10px 2.5em;
    min-height: 50px;
    z-index: 1;

    svg {
      transform: rotate(90deg);
    }

    &.active svg {
      transform: rotate(-90deg);
    }
    &.active + .shipping-address__content {
      display: block;
    }
  }
  &__content {
    display: none;
    padding: 35px 20px 0;
    margin-top: -10px;
    background: #F5F5F5;
    border: 1px solid $silver-big;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
  }
  &__bottom {
    border-top: 1px solid $silver-big;
    padding-bottom: 20px;
  }
}

.shipping-address-all {
  &__bottom {
    padding: 0 20px 30px;
  }
}