.tooltip {

  &__content {
    display: none;
    position: absolute;
    left: -5px;
    top: 25px;
    right: -5px;
    background-color: $silver-normal;
    z-index: 9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    padding: 10px;
  }

  .active + &__content {
    display: block;
  }
}