.user {
  display: flex;
  align-items: center;
  font-size: 1em;

  &__img {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    margin-right: 13px;
    border-radius: 50%;
  }
  &__name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .icon-btn {
    margin-left: 20px;
  }
}